.contains-task-list {
  padding: 0;
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;

  .task-list-item {
    list-style-type: none;
    padding-right: 15px;
    padding-left: 42px;
    margin-right: -15px;
    margin-left: -15px;
    border: 1px solid transparent;

    .handle {
      display: block;
      float: left;
      width: 20px;
      padding: 2px 0 0 2px;
      margin-left: -43px;
      opacity: 0;
      cursor: move;

      &.hovered {
        opacity: 1;
      }

      .drag-handle {
        fill: #333
      }
    }


    .task-list-item-checkbox {
      margin: 0 0.2em 0.25em -1.6em;
      vertical-align: middle;
      box-sizing: border-box;
      padding: 0;
    }

    +.task-list-item {
      margin-top: 0;
    }
  }
}
